.layui-logo {
    background: url(../images/logo.png) no-repeat center;
}
.layui-footer {
    text-align: center;
    font-size: 12px;
}
.userinfo {
    height: 60px;
    font-size: 12px;
    text-align: center;
    line-height: 60px;
}
.text-avatar {
    display: inline-block;
    position: relative;
    top: 4px;
    width: 40px;
    height: 40px;
    color: #fff !important;
    font-size: 20px;
    background-color: pink;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
}
iframe {
    width: 100%;
    height: 100%;
}
.layui-body {
    overflow: hidden;
}
.layui-icon {
    margin-right: 8px;
}