html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../images/login_bg.jpg) no-repeat;
    background-size: cover;
}

.loginAndRegBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 310px;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.title-box {
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.title-box>img {
    width: 170px;
    height: 25px;
}
.layui-form-item {
    position: relative;
}
.layui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}
.layui-input {
    padding-left: 30px;
}

.reg-box {
    display: none;
}

.layui-form {
    padding: 0 30px;
}
.link {
    display: flex;
    justify-content: flex-end;
}
.link>a {
    font-size: 12px;
}